<footer class="footer mt-5 py-3 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Fashion Store</h5>
        <p>Your one-stop shop for the latest fashion trends in men's and women's clothing.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-white">Home</a></li>
          <li><a routerLink="/products/men" class="text-white">Men</a></li>
          <li><a routerLink="/products/women" class="text-white">Women</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <address>
          <p>123 Fashion Street<br>Style City, SC 12345</p>
          <p>Email: contact@fashionstore.com<br>Phone: (123) 456-7890</p>
        </address>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p class="mb-0">&copy; {{ currentYear }} Fashion Store. All rights reserved.</p>
    </div>
  </div>
</footer> 